
.well {
    width: 100%;
    content:"";
    z-index:-1;
}

.well-header {
    font-size: 2em;
    font-weight: bold;
    font-family: helvetica Neue;
    color: #ff0000;
    
}



#disabledSelect{
    height: 30px;
}
/*
.form-control {
    height: 30px;
}
*/
.form-group1 {
    padding-bottom: 250px;
    /*border: solid 2px #348cff; */
    height: 40px;
}

.form-group2 {
    padding-bottom: 250px;
    /*border: solid 2px #348cff; */
    height: 40px;
}

.custom-textarea {
    width: 100%;
    max-width: 100%;
  }
  

.tab { margin-left: 40px; }


#disabledSelect{
    padding-bottom: 25px;
}

.input-group-addon,.fa> fa-calendar {
    color: #FFE071;
    background: #1E2749;
    border: solid 1px #4156a3;
}

p, label, checkbox {
    font-size: 1em;
    font-weight: bold;
    color: #1E2749;
    
}

.header_p {
    font-size: 1.1em;
}

.btn{
    color: rgba(198, 156, 0, 1);
    background: #1E2749;
    border: solid 1px #1E2749;
    ;
}

.help-block {
    color: #1E2749;
}
